.main{
    margin: auto;
    padding:auto;
    width: 320px;
    background: #0000FF;
    text-align: center;  
} 
.title{
    position: relative;
    margin-top: 40px;
    margin-left:419px;
    margin-right:418px;
    text-align: center;
    height: 50px;
    font-family: Lato;
    font-style: normal;
    font-weight: 200;
    font-size: 41px;
    line-height: 49px;
    color: #355075;
}
.subtitle{
    position: relative;
    margin: auto;
    height: 44px;
    width:384px;
    padding-left:58px;
    padding-right: 32px;
    margin-bottom: 36px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #355075;
}
.rectangle{
    position: relative;
    width: 563px;
    height: 2px;
    margin-top: 0px;
    background: #FFB54E;
}
.box{
    position: relative;
    align-content : center;
    width: 970px;
    height: 352px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    margin:auto;
    box-shadow: 0px 4px 29px #D6E1E5;
}
.image{
    position: relative;
    width: 360px;
    height: 335px;
    margin-left: 8px;
    margin-top: -9px;
    margin-right: 8px;
    margin-bottom: -4.88px;
    background: url(image.png);
}
.logo{
    position: relative;
    width: 150px;
    height: 51.83px;
    padding-left:43px;
    padding-top:84px;
}
.profile{
    position:relative;
    width: 64px;
    height: 63.27px;
    margin-top: -235px;
    margin-left: 325px;
    border: 3px solid white;
    border-radius: 100%;
    background: url(profile.png);
}
.name{
    /* by Carmen Lau */     
    position: relative;
    height: 19px;
    margin-left: 428px;
    margin-top: -307px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 133.2%;
    color: #355075;    
}
.discription1{
    display: block;
    position: relative;
    text-align: left;
    height: 99px;
    width:278px;
    padding-left: 43px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 154.6%;
    color: #FFFFFF;
    opacity: 0.87;
}
.discription2{
    /* Student Marketing Officer, The University of Sydney */
    position: relative;
    display: block;
    text-align: left;
    height: 17px;
    width:273px;
    margin-left: 428px;
    margin-top:-10.5px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #355075;
    opacity: 0.7;
}
.discription3{
    /* “2018 was a big year for us, and we wanted to create a tool that helps our students choose their courses more easily and effectively for their enrolment. We wanted to create a tool to achieve that goal in a short period. oLab team was phenomenal in understanding the project and they delivered the project within a very tight timeline.” */
    position: relative;
    text-align: left;
    height: 201px;
    width: 520px;
    margin-left: 428px;
    margin-right: 23px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    color: #355075;
    margin-top:24px;
    opacity: 0.87;    
}
.button{
    position: relative;
    width: 52px;
    height: 18px;
    padding-left: 134px;
    padding-top: 32px;
    padding-right: 134px;
    margin: auto;
}